@(myMap: LinkedHashMap[String, List[Commit]])

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Repository Commits</title>
</head>
<body>
<h2 class="text-center">Repository Commits</h2>
    <div class="row">
        <div class="col-sm-8">//to do</div>
        <div class="col-sm-4">
            <h5 class="text-center">Top-10 committers, i.e., users who had the most commits</h5>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">User Avatar</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Total Commits</th>

                </tr>
                </thead>
                <tbody>
                @for((key, value) <- myMap) {
                <tr>
                    <td><img src="@value.get(0).getUserAvatar" class="rounded" height="80px"></td>
                    <td>@key</td>
                    <td>@value.size()</td>

                </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>